.app-container {
  width: 1400px;
  max-width: 100vw;
  min-height: 664px;
  display: flex;
  align-items: flex-start;
  padding: 129px 46px 0 46px;
}

.app-container > section {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1399px) {
  .app-container {
    padding: 129px 20px 0 20px;
  }
  .app-container > section {
    width: fit-content;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 1098px) {
  .app-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .app-container > section {
    width: 100%;
    padding: 30px 0;
    min-height: 484px;
  }

  .section-form {
    order: 2;
  }

  .section-products {
    order: 1;
  }
}

@media only screen and (max-height: 664px) {
  .app-container > section {
    min-height: 100vh;
  }
}

@media only screen and (min-width: 644px) and (max-width: 1098px) {
  .app-container > section {
    padding-left: 4vw;
  }
}

@media only screen and (min-width: 385px) and (max-width: 1098px) {
  .app-container > section {
    justify-content: left;
  }
}
