.small-square,
.big-square,
.bubble {
  position: absolute;
  z-index: -1;
}

.small-square {
  width: 32px;
  height: 32px;
  background-color: rgba(31, 105, 229, 0.45);
  animation: 10s linear infinite spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.big-square {
  width: 150px;
  height: 170px;
  background-color: rgba(31, 105, 229, 0.15);
  animation: 15s linear infinite spin-back;
}

@keyframes spin-back {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.bubble {
  width: 211px;
  height: 211px;
  background-color: rgba(31, 105, 229, 0.05);
  border-radius: 50%;
  animation: 3s linear 1s infinite alternate pulse;
}

@keyframes pulse {
  from {
    background-color: rgba(46, 89, 162, 0.05);
    transform: scale(0.95);
  }
  to {
    background-color: rgba(31, 105, 229, 0.15);
    transform: scale(1);
  }
}

@media only screen and (max-width: 1098px) {
  .living-background {
    display: none;
  }
}
